* {
  /* border: 1px solid green; */
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  gap: 2rem;
}

/* nav css */
.navBtn:hover {
  cursor: pointer;
}

.nav {
  display: none;
  /* background-color: red; */
  /* left: 140px; */
}

.navBackground {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  background-color: red;
  height: 90%;
  width: 100%;

  position: absolute;

  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */

  margin: auto;
}

.navUl {
  font-size: 2rem;

  list-style: none;
}

.mainLi {
  width: 80%;
  margin: 1rem 0;
  padding: 0 0 0 1rem;

  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 5px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.displayProject {
  display: none;
}

.projectForm {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.projectLi {
  /* list-style: none; */
  margin: 0.5rem;
  padding: 0 0 0 1rem;

  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
}

.taskBtn {
  align-self: flex-end;

  font-size: 4rem;

  margin: 2rem;
  width: 4rem;
}

.addTaskForm {
  /* flex-direction: column-reverse; */
  /* position: absolute; */
  display: none;
  /* border: 1px solid; */
}

legend {
  /* height: fit-content; */
  width: 100%;
  font-size: 2rem;
  background-color: red;

  padding-top: 2rem;
}

.addTask,
.editTask,
.projectForm {
  display: flex;
  flex-direction: column;
  border: 0;

  height: fit-content;

  height: 100%;
  min-height: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  background-color: aliceblue;
}

.projectForm {
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
  height: 100%;
  padding: 0;
}

.projectForm > legend {
  background-color: aquamarine;
  width: 100%;
  padding: 1rem;
}

#newProject,
.projectSubmit,
.closeProject {
  width: 80%;
}

input#newProject {
  height: 2rem;
  padding-left: 1rem;
}

.close {
  width: fit-content;

  align-self: flex-end;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
}

input,
select {
  font-size: 1rem;
}

label,
input,
select {
  padding: 1rem;

  border-radius: 5px;
}

#project,
#editProject {
  margin-bottom: 1rem;
}

/* .content {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "hd hd hd hd"
    "nav mn mn mn"
    "nav mn mn mn"
    "nav mn mn mn"
    "nav mn mn mn";
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
}

.header {
  grid-area: hd;
  height: 100px;
  background-color: aquamarine;
}

.nav {
  grid-area: nav;
  background-color: red;
  width: 300px;
}

.mainContent {
  grid-area: mn;
  background-color: grey;
  min-width: 100%;
} */

.taskContainer {
  display: flex;
  justify-content: space-evenly;

  border: 1px solid;
  width: 100%;
}

.toDoChecked {
  text-decoration: line-through;
}

.displayItems {
  display: none;
}

.displayEdit {
  display: none;
}
